.multiTouchCopntainer img, .multiTouchCopntainer video {
    /* border			: solid black 1px; */
    border-radius	: 0.5em;
    position		: absolute;
    top				: 150px;
    left			: 0px;
    transform-origin: top left;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

html, body {
    overflow		: hidden;
}
img{
    max-width: 90%;
}